.form-label {
    padding-right: 10px;
    padding-left: 10px;
}

.form-input {
    padding-left: 10px;
}

#biz-profile {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    background-color: var(--first-color);
    color: var(--second-color);
}

.save-btn {
    color: var(--second-color);
    background-color: var(--third-color);
    margin-left: 20px;
    font-family: 'Righteous', sans-serif;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5%;
}

.save-btn:hover {
    color: var(--first-color);
    background-color: var(--third-color);
}

.biz-card {
    font-family: 'Righteous', sans-serif;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}