:root {
    --first-color: #FFF;
    --second-color: #000;
    --third-color: #C64103;
  }

* {
  background-color: var(--first-color);
}

button {
  color: var(--third-color);
  border: var(--third-color) 1px solid;
  padding: 1vh;
  background-color: #fff;
}

.ombre-btn {
  box-shadow: inset 0px 0px 5px var(--third-color);
  -moz-box-shadow: inset 0px 0px 5px var(--third-color);
  -webkit-box-shadow: inset 0px 0px 5px var(--third-color);
}

button:hover, button:active, button:visited {
  color: #fff;
  background-color: var(--third-color);
}

.ombre-btn:hover, .ombre-btn:active, ombre-btn:visited {
  box-shadow: inset 0px 0px 5px #fff;
  -moz-box-shadow: inset 0px 0px 5px #fff;
  -webkit-box-shadow: inset 0px 0px 5px #fff;
}