.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif ;
}

.Search input {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

p {
    margin: 10px;
    font-size: 18px;
}

button {
    background-color: #Fa8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2ff 52%, #2BFF88);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
}