.homeContainer {
    text-align: center;
}

.homeText {
    width: 100%;
}

.welcome {
    font-family: "Righteous", cursive;
    font-size: 48px;
    color: var(--third-color);
    padding: 60px;
}

.description {
    font-family: "Rato", sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: var(--second-color);
    font-size: 24px;
    text-align: center;
    padding: 0 5vh 6vh 5vh;
}

#profile-link {
    font-size: 4vh;
}