#loggedin-link-container, #loggedout-link-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.inactive, .nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: var(--third-color);
    font-size: 20px;
}

.nav-link:hover, .inactive:hover {
    color: var(--third-color);
    transition: all 0.4s ease 0s;
}

#brand:hover {
    color: var(--third-color);
    transition: all 0.4s ease 0s;
    font-size: 36px;
    text-decoration: none;
    padding: 22px;
}