.navBar {
    background-color: var(--second-color);
    width: 100%;
    margin-bottom: 10px;
}

.navLinks {
    display: flex;
}

.inactive, .navLink {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: var(--first-color);
    transition: all 0.4s ease 0s;
    font-size: 20px;
}

.navLink:hover, .inactive:hover {
    color: var(--third-color);
    transition: all 0.4s ease 0s;
}

#brand:hover {
    color: var(--third-color);
    transition: all 0.4s ease 0s;
    font-size: 36px;
    text-decoration: none;
    padding: 22px;
}