.create-link {
    text-align: center;
    font-size: 24px;
    font-family: 'Righteous', cursive;
    color: var(--second-color);
    text-decoration: none;
    padding: 20px;
}

.qrad-btn {
    text-align: center;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: var(--second-color);
    text-decoration: none;
    line-height: 100px;
}

.create-link:hover {
    color: var(--third-color);
    text-decoration: none;

}

.qrad-btn:hover {
    color: var(--third-color);
    text-decoration: none;
}