.create-link {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    font-family: 'Righteous', cursive;
    color: var(--second-color);
    text-decoration: none;
}

.create-link:hover {
    color: var(--third-color);
    text-decoration: none;

}
