.form {
    padding: 20px;
    margin-left: 10px;
}

.form-group {
    margin-top: 10px;
    font-family: "Rato", sans-serif;
}

.formLabel {
    padding: 10px;
}

.feedback {
    padding-left: 15px;
}